body {
    width: 100%; font-family: 'Segoe UI', Verdana, sans-serif; position: relative;
    margin: 0; padding: 0; font-size: 20px;
}

.navbar{
    width: 100%; height: 70px; background-color: black; margin: 0;
    position: fixed; top: 0; left: 0; right: 0; z-index: 1; display: flex; flex-direction: row;
}
#check{
    display: none; position: absolute;
}
.logo{
    position: absolute; width: 100px; height: 70px; right: 5px;
}
.brand-title{
    position: absolute; color: white; margin: 0px; left: 75px; margin-top: 32px; font-size: xx-large;
    line-height: 0px; padding: 0px; 
}
.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.toggle-button {
    position: absolute; 
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
}

#menu{
    width: 25%; height: 100vh; border: solid 1px; font-size: medium;
    top: 71px; background-color: rgb(57, 62, 63); 
    margin: 0; overflow-y: scroll; padding: 5px;  position: fixed; border: none;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


ul li {
    list-style: none; height: max-content; background-color: rgb(242, 247, 248); border-radius: 10px; margin-top: 3px;
    margin-left: 0; padding-left: 10px;
}
ul li:hover{
    background-color: rgb(176, 179, 179); 
}
ul li a {
    text-decoration: none; line-height: 25px; color: black; 
    padding: 3px; 
}
ul input {
    width: 96%; height: max-content; background-color: white; border-radius: 10px; margin: 0;
    padding-left: 10px; padding-top: 4px; font-size: large; border: none;
}
#check:checked ~ #menu{
    display: none;
}
.body-content{
   top: 71px; margin-left: 28%; padding: 0; text-align: justify; position: relative;
    width: 70%; background-color: white; line-height: 2rem; 
}
h1{
    font-size: xx-large;
}


.promo-inline{
  display: block; text-decoration: none; background-color: #2c2c2c; color: #f5f5f5;
  border: 1px solid #6c6c6c;  border-radius: 12px;
  /* Thicker banner */
  padding: 16px 16px; margin: 10px 0 16px 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 1rem; line-height: 1.35; text-align: center;
}

.promo-inline:hover{
  background-color: #1f1f1f;   /* slightly darker on hover */
}

.promo-inline-badge{
  display: inline-block; background-color: #1a1a1a; color: #ffffff;
  padding: 5px 12px; margin-right: 10px; border-radius: 999px;
  border: 1px solid #6c6c6c;
  font-size: 0.78rem; font-weight: 700; letter-spacing: 0.6px;
  text-transform: uppercase;
}

.promo-inline-cta{
  display: inline-block; margin-left: 10px; color: #ffffff;
  font-weight: 700; text-decoration: underline; text-underline-offset: 3px;
}

.single-image{
    display: block; width: 100%; height: 50%;   margin-left: auto;
    margin-right: auto;
}
.img{
    width: 92%; margin: 0; margin-left: 3%; padding: 0;
}
.equation{
    overflow: auto; 
}
.double-image{
    display: flex; flex-direction: row; width: 100%; margin-bottom: 1%; padding: 0;
}
.img1{
    width: 45%; margin: 3%; padding: 0;
}
.img2{
    width: 45%; margin: 3%; padding: 0;
}

.bottom-bar{
    width:100%; height: 10rem; background-color: black; display: flex; flex-direction: row;
    color: white; 
    /* font-family: 'Arial Narrow', Arial, sans-serif; */
}
.section1{
    width: 50%; padding: 2%; text-align: center; 
}
.section1 a{
    font-style: italic; text-decoration: none; color: white; font-size: medium;
}
.section1 a:hover{
    background-color: rgb(61, 60, 60);
}
.section1 p{
    margin: 0px;
}
.section2{
    width: 50%; padding: 2%; text-align: center; 
}
.section2 a{
    text-decoration: none; color: white; border: 1px solid rgb(27, 27, 27); background-color: rgb(27, 27, 27);
    padding: 1%; border-radius: 5px;
}
.section2 a:hover{
    background-color: rgb(53, 52, 52);
}

@media (min-width: 1281px) {
    .body-content{
        margin-left: 33%; width: 60%; 
    }
}

@media (min-width: 1440px) {
    .body-content{
        margin-left: 33%; width: 55%; 
    }
}

@media (min-width: 1920px) {
    .body-content{
        margin-left: 33%; width: 50%; 
    }
}

@media (max-width: 1024px){
    #menu{
        width: 30%; 
    }
    .body-content{
        margin-left: 33%; width: 65%; 
    }

}

@media (max-width: 768px){
    #menu{
        width: 50%; display: none;
    }
    #check:checked ~ #menu{
        display: block;
    }
    .body-content{
        margin-left: 3%; width: 95%; 
    } 
    .bottom-bar{
        flex-direction: column; height: max-content; align-items: center;
    }
}
@media (max-width: 480px){
    #menu{
        width: 100%; display: none;
    }
    #check:checked ~ #menu{
        display: block;
    }
    .body-content{
        margin-left: 3%; width: 95%; 
    } 
    .single_image{
        width: 70%;
    }
    .single_image1{
        width: 90%; 
    }
    .double-image{
        flex-direction: column; 
    }
    .img1{
        width: 90%;
    }
    .bottom-bar{
        flex-direction: column; height: max-content; align-items: center;
    }
}